<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Auth Server Login </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/secure/two_factor_authentication}" method="post">
                <fieldset>
                    <h1>Please Enter Secret</h1>

                    <div th:if="${isIncorrectSecret}">
                        <div class="alert alert-danger">
                            Invalid Secret.
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <input type="text" name="secret" id="secret" class="form-control input-lg"
                               placeholder="Secret" required="true" autofocus="true"/>
                    </div>
                    

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>